{% extends 'crud/base.html' %}
{% block 'content' %}
<div id="content" class="col-lg-10 col-sm-10" style="width:100%">
  <div class="row">
    <div class="box col-md-12">
      <div class="box-inner">
	<div class="box-header well" data-original-title="">
          <h2><i class="glyphicon"></i>{{ model_nicely }}</h2>
	</div>
        <div class="box-content">
          <form action="." method = "post"  enctype="multipart/form-data">{% csrf_token %}
            {% for field in form %}
            <div class="input-group col-md-4 contains-{{ field.name }}">
	      {{ field.label_tag }}{% if field.field.required %} <b>*</b>{% endif %}
              <br/>

	      {% if field.name == 'job_role' %}
	      <select multiple="multiple" id="id_job_role" name="job_role" required="">
		{% for i in job_roles %}
		<option {% if i.id in job_role_ids %}selected="selected"{% endif %} data-section="{{ i.skill_development_sector }}" value="{{ i.id }}">{{ i }}</option>
		{% endfor %}
	      </select>

	      {% elif field.name == 'district' %}
	      <select multiple="multiple" id="id_district" name="district" required="">
		{% for i in districts %}
		<option {% if i.id in districts_ids %}selected="selected"{% endif %} data-section="{{ i.state }}" value="{{ i.id }}">{{ i }}</option>
		{% endfor %}
	      </select>

	      {% else %}
              {{ field }}
	      {% endif %}

              <p style="color:red">{% if field.errors %}{{ field.errors|striptags }}{% endif %}</p>

            </div>

            {% endfor %}
            <br>
            <button type="submit" class="btn btn-primary">
	      <i class="glyphicon glyphicon-ok icon-white"></i>
	      Submit
	    </button>
	    <a href=".."><button type="button" class="btn btn-primary">
		<i class="glyphicon glyphicon-remove icon-white"></i>
		Cancel
	    </button></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(function() {
	$('#id_job_role').treeMultiselect({
	    sortable: true,
	    // hideSidePanel: true,
	    startCollapsed: true
	})
	$('#id_district').treeMultiselect({
	    sortable: true,
	    // hideSidePanel: true,
	    startCollapsed: true
	})
    })
</script>
{% endblock %}
