{% load staticfiles %}
<style>
th, td {
    padding: 2px;
}
table {
width:100%;
margin-bottom: 10px
}
table td {
    border: 1 ; width:100px; word-wrap:break-word; min-width: 100px;
}

div {
border:1px solid black;
padding: 10px
}


#wrap {
  width: 80%;
  margin: auto;
  background: #fff;
  overflow: hidden;
  padding: 15px;
  
}
</style>


<html>
  <body border="1">
    <table>
      <tr>
	<td>
	  <img alt=""  src="{% static "logo_backup.jpg" %}" />
	</td>
	<td>
	  <h2>PRE SCREENING FORM</h2>
	</td>
	<td>
	  <img alt=""  src="{% static "logo.png" %}" />
	</td>
      </tr>
    </table>
    
    <table border="1">
      <tr>
	<td>
	  Centre: {{ student.batch.district }}
	</td>
	<td>
	  Project Name: {{ student.job_role }}
	</td>
	<td>
	  Date: {{ application_date }}
	</td>
      </tr>
    </table>
    
    <p>
      <b>Welcome to Art Of Living foundation! (Please fill the form with block letters only)</b></p>
    <table border="1">
      <tr>
	<td>
	  Applicant Name:
	</td>
	<td>
	  {{ name_as_per_aadhar_card }}
	</td>
	<td>
	  <img alt=""  src="{% static "{{ image.url }}" %}" />
	</td>
      </tr>
    </table>
    
    <table border="0">
      <tr>
	<td>
	  <table border="1">
	    <tr>
	      <td>Father's Name:</td>
	      <td>{{ fh_name }}</td>
	    </tr>
	    <tr>
	      <td>Mother's Name:</td>
	      <td>{{ m_name }}</td>
	    </tr>
	    <tr>
	      <td>Date of Birth:</td>
	      <td>{{ date_of_birth }}</td>
	    </tr>
	    <tr>
	      <td>Religion:</td>
	      <td>{{ religion }}</td>
	    </tr>
	    <tr>
	      <td>Caste:</td>
	      <td>{{ caste }}</td>
	    </tr>
	  </table>
	</td>
	<td>
	  <table border="1">
	    <tr>
	      <td>Gender:</td>
	      <td>{{ student.get_gender_display }}</td>
	    </tr>
	    <tr>
	      <td>Email:</td>
	      <td>{{ email }}</td>
	    </tr>
	    <tr>
	      <td>Adhaar Card Number:</td>
	      <td>{{ aadhaar_card_number }}</td>
	    </tr>
	    <tr>
	      <td>Pan card number: </td>
	      <td>{{ pan_card_number }}</td>
	    </tr>
	    <tr>
	      <td>Age as on 1st January 2017:</td>
	      <td>0</td>
	    </tr>
	    <tr>
	      <td>Total Years of Experiance:</td>
	      <td>{{ experiance }}</td>
	    </tr>
	  </table>
	</td>
      </tr>
    </table>
    
    
    <table border="1">
      <tr>
	<td>Name as per bank pass book</td>
	<td>Bank name</td>
	<td>A/C No</td>
	<td>IFSC</td>
      </tr>
      <tr>
	<td>{{ name_as_per_bank_records }}</td>
	<td>{{ bank_name }}</td>
	<td>{{ account_number }}</td>
	<td>{{ ifsc_code }}</td>
      </tr>
    </table>
    
    <div border="1">
      <b>Permenant Address:</b> {{ permanent_address }}
    </div>
    <table border="1">
      <tr>
	<td>Pin code</td>
	<td>City</td>
	<td>District</td>
	<td>State</td>
      </tr>
      <tr>
	<td>{{ per_pincode }}</td>
	<td>{{ per_city }}</td>
	<td>{{ student.per_district }}</td>
	<td>{{ student.per_state }}</td>
      </tr>
    </table>
    
    <div border="1">
      <b>Present Address:</b> {{ present_address }}
    </div>
    <table border="1">
      <tr>
	<td>Pin code</td>
	<td>City</td>
	<td>District</td>
	<td>State</td>
      </tr>
      <tr>
	<td>{{ pre_pincode }}</td>
	<td>{{ pre_city }}</td>
	<td>{{ student.pre_district }}</td>
	<td>{{ student.pre_state }}</td>
      </tr>
    </table>
    
    
    <table border="1">
      <tr>
	<td>Mobile No</td>
	<td>Alt. Mobile no</td>
    	<td>Language</td>
	<td>Yoga Teaching Experiance</td>
    	<td>Job Role</td>
      </tr>
      <tr>
	<td>Mobile No</td>
	<td>Alt. Mobile no</td>
    	<td>Language</td>
	<td>Yoga Teaching Experiance</td>
    	<td>Job Role</td>
      </tr>
    </table>      
    <div>
	  <b>Declaration : I hereby declare that, all the information mentioned above furnished by me is correct.
	    If anything found wrong my registration is liable to cancel without refunding any amount. I also declare that I have
	    not received any reward amount earlier from any government sponsored program. My registration can be rejected
	    or cancelled  if this project is withdrawn / postpone / cancelled by the approving
	    authority.</b></div>
    
    
    <table border="1">
      
      <br>
      <tr>
	<td height="100">Signature of the candidate :</td>
	<td height="100">Signature of the coordinator :</td>
      </tr>
      
    </table>
    <br>
    <table border="1">
      <tr>
	<b>For Official Use only </b></tr>
      <tr>
	<td>Pre Training Status :</td><td></td> 
	
	
	<td>Name of the trainer :</td><td></td> 
      </tr>
      <tr>
	<td>Batch Start date :</td><td> </td>
	<td>Batch End date :</td><td> </td>
	<td>Assessment date :</td><td> </td>
      </tr>
      
      <tr>
	<td>Course Fees :</td><td> </td>
	<td>Fees paid by :</td><td> </td>
	<td>Certificate No :</td><td> </td>
      </tr>
      
      <tr>
	<td height="100">Coordinators' Feedback :</td>
	
      </tr>
      
    </table>
  </body>
</html>
