<div class="alert alert-info">
  <h3>Step {{ step }} / 3</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
      <span class="sr-only">{{ progress }}% Complete (success)</span>
    </div>
  </div>
</div>
