{% extends 'crud/base.html' %}
{% block 'content' %}


<style>
  select {
    width: 100%;
    height: 30px
  }
</style>


<script>
    x=0
    $(function() {
	$('.show-language-english').click(function() {
	    $('.language-hindi').hide()
	    $('.language-english').show()
	})
	$('.show-language-hindi').click(function() {
	    $('.language-english').hide()
	    $('.language-hindi').show()
	})
	$('.show-language-english').trigger('click')
	
	$('.show-onfail, .show-onsuccess, .hide-initial').hide()
	
	$('.submit-button').click(function() {
	    res = {}
	    $('.answer-dropdown').each(function() {
		res[this.dataset.qid] = $(this).val()
	    })
	    $.ajax({
		type: 'GET',
		url: '.',
		data: {'student_id': {{ student.id }}, 'response': res},
		dataType: 'json',
		success: function(d) {
		    x=d
		    $('.hide-post-res').hide();
		    console.log(d)
		    if (d.pass==true) {
			$('.show-onsuccess').show()
			$('.success-msg').html('Congratulations! You have passed the test with a score '+d.marks.correct+'/10 '+' <a href="/course/form3/{{ student.id }}/" class="btn fancybox btn-xs btn-info">proceed to step 3</a>')
		    } else {
			$('.show-onfail').show()
			$('.fail-msg').html('Sorry, your score is only '+d.marks.correct+'/10.  7/10 is required to clear the test')
		    }
		    $.each(x.evaluation, function(key, value) {
			console.log('show-answer-actual-'+key)
			$('.show-answer-actual-'+key).html('Correct Answer: '+value.correct)
			$('.show-answer-actual-'+key).show()
			if (value.status=='skip') {
			    $('.show-answer-skip-'+key).show()
			} else if (value.status=='correct') {
			    $('.show-answer-correct-'+key).html('Your Answer: '+value.your)
			    $('.show-answer-correct-'+key).show()
			} else if (value.status=='wrong') {
			    $('.show-answer-wrong-'+key).html('Your Answer: '+value.your)
			    $('.show-answer-wrong-'+key).show()
			}
		    })
		}
	    })
	})
    })
</script>


<div id="content" class="col-lg-10 col-sm-10" style="width:100%">
  <div class="row">
    <div class="box col-md-12">
      <div class="box-inner">
	<div class="box-header well" data-original-title="">
          <h2>
	    <i class="glyphicon"></i>Questions for {{ job_role }}
	  </h2>
	</div>
        <div class="box-content">

	  <div class="alert alert-info">
	    <h3>Step 2 / 3</h3>
	    <div class="progress">
	      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
		<span class="sr-only">60% Complete (success)</span>
	      </div>
	    </div>
	  </div>

	  <div class="alert alert-info hide-post-res">
	    Please answer the following questions and click "Submit my response" button to finish your registration.  Minimum 7/10 of answers should be correct for registering.
	  </div>

	  <div class="alert alert-danger show-onfail fail-msg">
	  </div>
	  <div class="alert alert-success show-onsuccess success-msg">
	  </div>

	  <div class="alert alert-info hide-post-res">
	    <button type="submit" class="btn btn-primary language-hindi show-language-english">
	      Take test in English (अंग्रेजी में परीक्षा लें)
	    </button>
	    <button type="submit" class="btn btn-primary language-english show-language-hindi">
	      Take test in Hindi (हिंदी में परीक्षा लें)
	    </button>
	    <button type="submit" class="btn btn-primary submit-button">
	      <i class="glyphicon glyphicon-ok icon-white"></i>
	      Submit my response
	    </button>
	  </div>
	  
	  <table class="table table-striped table-bordered bootstrap-datatable responsive">

	    <thead>
	      <tr>
		<th>Question</th>
		<th>Option A</th>
		<th>Option B</th>
		<th>Option C</th>
		<th>Option D</th>
		<th>Answer</th>
	      </tr>
            </thead>
	    
            <tbody>
              {% for question in questions %}
              <tr>
		<td>
		  <div class="language-english">{{ question.question }}</div>
		  <div class="language-hindi">{{ question.question_hindi }}</div>
		</td>
		<td>
		  <div class="language-english">{{ question.option_a }}</div>
		  <div class="language-hindi">{{ question.option_a_hindi }}</div>
		</td>
		<td>
		  <div class="language-english">{{ question.option_b }}</div>
		  <div class="language-hindi">{{ question.option_b_hindi }}</div>
		</td>
		<td>
		  <div class="language-english">{{ question.option_c }}</div>
		  <div class="language-hindi">{{ question.option_c_hindi }}</div>
		</td>
		<td>
		  <div class="language-english">{{ question.option_d }}</div>
		  <div class="language-hindi">{{ question.option_d_hindi }}</div>
		</td>
		<td>
		  <div class="hide-post-res">
		    <select class="answer-dropdown" data-qid="{{ question.id }}" required="">
		      <option value="" selected="selected">---------</option>
		      {% if question.option_a %}<option value="A" class="language-english">A. {{ question.option_a }}</option>{% endif %}
		      {% if question.option_b %}<option value="B" class="language-english">B. {{ question.option_b }}</option>{% endif %}
		      {% if question.option_c %}<option value="C" class="language-english">C. {{ question.option_c }}</option>{% endif %}
		      {% if question.option_d %}<option value="D" class="language-english">D. {{ question.option_d }}</option>{% endif %}
		      
		      {% if question.option_a %}<option value="A" class="language-hindi">A. {{ question.option_a_hindi }}</option>{% endif %}
		      {% if question.option_b %}<option value="B" class="language-hindi">B. {{ question.option_b_hindi }}</option>{% endif %}
		      {% if question.option_c %}<option value="C" class="language-hindi">C. {{ question.option_c_hindi }}</option>{% endif %}
		      {% if question.option_d %}<option value="D" class="language-hindi">D. {{ question.option_d_hindi }}</option>{% endif %}
		    </select>
		  </div>
		  <span class="label-success label label-default hide-initial show-answer-actual-{{ question.id }}"></span>
		  <span class="label-success label label-default hide-initial show-answer-correct-{{ question.id }}"></span>
		  <span class="label-success label label-danger  hide-initial show-answer-wrong-{{ question.id }}"></span>
		  <span class="label-default label hide-initial  hide-initial show-answer-skip-{{ question.id }}">You skipped this question</span>
		</td>
              </tr>
	      {% endfor %} 
            </tbody>
          </table>

          <div class="alert alert-success show-onsuccess success-msg">
	  </div>

	  <div class="alert alert-info hide-post-res">
	    <button type="submit" class="btn btn-primary language-hindi show-language-english">
	      Take test in English (अंग्रेजी में परीक्षा लें)
	    </button>
	    <button type="submit" class="btn btn-primary language-english show-language-hindi">
	      Take test in Hindi (हिंदी में परीक्षा लें)
	    </button>
	    <button type="submit" class="btn btn-primary submit-button">
	      <i class="glyphicon glyphicon-ok icon-white"></i>
	      Submit my response
	    </button>
	  </div>
	    
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
