{% extends 'crud/base.html' %}
{% block 'content' %}
<div id="content" class="col-lg-10 col-sm-10" style="width:100%">
  {% if not request.user.is_authenticated %}
  <div class=" row">
    <div class="box col-md-12">
      <div class="box-inner">
	
	<div class="box-header well" data-original-title="">
          <h2>
	    <i class="glyphicon"></i>
	    Recognition for prior learning
	  </h2>
	</div>
	
	<div class="box-content">
	  <div class="box-content">
	    {% if alert %}
	    <div class="alert alert-success show-onsuccess success-msg">
	      {{ alert }}
	    </div>
	    {% endif %}
	    <div class="page-header">
	      <h1>Recognition of Prior Learning
		<small>(RPL)</small>
	      </h1>
	    </div>
	    <div class="row ">
	      <div class="col-md-4">
		<h3>Introduction</h3>
		<p>
		  Recognition of Prior Learning (RPL) is a platform to
		  provide recognition to the informal learning or
		  learning through work to get equal acceptance as
		  the formal levels of education. It aims to appreciate
		  prior learning irrespective of the medium of
		  achieving it. In short, RPL is a process of
		  assessment of an individuals prior learning to give
		  due importance to learning as an outcome rather
		  than learning as process.
		</p>
	      </div>
	      <div class="col-md-4">
		<h3>AIM</h3>
		<p>To ensure that the candidates being assessed under
		  RPL are also oriented to the standardized NSQF
		  levels. QP-NOSs followed under RPL will be same
		  as the one followed under fresh training. In order to
		  ensure the acceptance of RPL in the Indian market,
		  various pilot programs have been conducted by
		  different skill sector councils and NSDA. The
		  learning from these programs are incorporated
		  while preparing the guidelines for RPL in
		  accordance to PMKVY.</p>
	      </div>
	      <div class="col-md-4 ">
		<div class="well">
		  <h1><u>Links</u></h1>
		  <h3><a href="/course/Student/add/">Candidate Registration</a></h3>
		  <h3><a href="/course/Teacher/add/">Trainer Enrollment</a></h3>
		  <h3><a href="#">Quota and Courses</a></h3>
		  <h3><a href="https://ssrdp.org/" target="_blank">SSRDP</a></h3>
		  <h3><a href="/admin/login/?next=/">Login</a></h3>
		</div>
	      </div>
	    </div>
	    
	    <div class="row">
	      <div class="col-md-12">
		<h3>Why RPL?</h3>
		<div class="row">
		  <div class="col-md-6">
		    <p>A huge section of India's unorganized workforce
		      are unskilled and semi-skilled. Most of them pick up
		      skills and knowledge in an informal set up by
		      observing people or working under their guidance or
		      
		      through complete self-learning. As a result, even
		      though they manage to get a job and earn a decent
		      wage or salary, they may not be able to improve
		      their skills. This also affects their productivity and
		      quality of output. They need access to training
		      programs and support from their employers to skill
		      and upskill themselves. This is where Recognition
		      of Prior Learning (RPL) can help them get assessed
		      and certified on their current competencies as per
		      NSQF levels. RPL also shows them a path to bridge
		      their current knowledge and skill levels to reach a
		      competency level or go for higher skills for
		      professional growth.</p>
		  </div>
		  <div class="col-md-6">
		    <h3>Testimonials</h3>
		    <blockquote class="pull-right">
		      <p>The RPL courses at SSRDP has helped me to gain recognition as a certified Yoga Instructor.  I'm now able to apply for jobs at various institutes and other training platforms.</p>
		      <small><cite title="">Vinayak Kaniyarakkal</cite></small>
		    </blockquote>		    
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
        </div>
	
      </div>
    </div>
  </div>
      {% else %}
      
  <div class=" row">
    <div class="col-md-3 col-sm-3 col-xs-6">
      <a data-toggle="tooltip" title="" class="well top-block" href="#" data-original-title="6 new members.">
	<i class="glyphicon glyphicon-user blue"></i>
	<div>Total Cordinators</div>
	<div>58</div>
	<!-- <span class="notification">6</span> -->
      </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <a data-toggle="tooltip" title="" class="well top-block" href="#" data-original-title="4 new pro members.">
	<i class="glyphicon glyphicon-hand-right green"></i>
	<div>Total Batches</div>
	<div>116</div>
      </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <a data-toggle="tooltip" title="" class="well top-block" href="#" data-original-title="$34 new sales.">
	<i class="glyphicon glyphicon-user yellow"></i>
	<div>Total Student</div>
	<div>6760</div>
      </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <a data-toggle="tooltip" title="" class="well top-block" href="#" data-original-title="12 new messages.">
	<i class="glyphicon glyphicon-thumbs-up red"></i>
	<div>Approved Students</div>
	<div>5569</div>
    </a></div>
  </div>
  {% endif %}
</div>
{% endblock %}
